LLM_BASE_URL=http://host.docker.internal:1234/v1
LLM_MODEL=local-model
DEFAULT_INDEX_NAME=pdf-rag
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
OPENSEARCH_URL=http://localhost:9200
OPENSEARCH_VERIFY_CERTS=false
